@model List<Proyecto.Models.ClientesView>


<h2>Clientes</h2>

<p>
	<a asp-action="Create">Crear cliente</a>  <a asp-action="Update">Editar cliente</a>  <a asp-action="Delete">Borrar cliente</a> 
</p>

<table class="table">
	<thead>
		<tr>
			<th>Cedula</th>
			<th>Nombre Cuenta</th>
			<th>Email</th>
			<th>Contacto principal</th>
			<th>Telefono</th>
			<th>Sitio web</th>
			<th>Info adicional</th>
			<th>Moneda</th>
			<th>Sector</th>
			<th>Zona</th>
			<th>Asesor</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var cliente in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m=>cliente.Cedula)</td>
				<td>@Html.DisplayFor(m=>cliente.NombreCuenta)</td>
				<td>@Html.DisplayFor(m=>cliente.CorreoElectronico)</td>
				<td>@Html.DisplayFor(m=>cliente.ContactoPrincipal)</td>
				<td>@Html.DisplayFor(m=>cliente.Telefono)</td>
				<td>@Html.DisplayFor(m=>cliente.SitioWeb)</td>
				<td>@Html.DisplayFor(m=>cliente.InformacionAdicional)</td>
				<td>@Html.DisplayFor(m=>cliente.Moneda)</td>
				<td>@Html.DisplayFor(m=>cliente.Sector)</td>
				<td>@Html.DisplayFor(m=>cliente.Zona)</td>
				<td>@Html.DisplayFor(m=>cliente.Usuario)</td>
			</tr>
		}
	</tbody>
</table>