@model Proyecto.Models.Chancho

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chancho</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoLlegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoLlegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SexoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SexoNavigation.Identificador)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
