@model Proyecto.Models.TareaCotizacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TareaCotizacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinalizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinalizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AsesorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AsesorNavigation.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CotizacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CotizacionNavigation.CodigoCotizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTareaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTareaNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
