@model IEnumerable<Proyecto.Models.VistaPropiedadDueno>



@{
    ViewData["Title"] = "Index";
}


<h2>Propiedades</h2>

<table class="table">
	<thead class="thead-dark">
		<tr>
			<th scope="col">Codigo de escritura</th>
			<th scope="col">Descripción</th>
			<th scope="col">Área</th>
			<th scope="col">Fecha de compra</th>
			<th scope="col">Dueño</th>
			<th scope="col">Opciones</th>
		</tr>
	</thead>
	<tbody>
		
		@foreach (var dato in Model)
		{
			<tr>
				<td>@Html.DisplayFor(m=>dato.CodigoEscritura)</td>
				<td>@Html.DisplayFor(m=>dato.Descripcion)</td>
				<td>@Html.DisplayFor(m=>dato.Area)</td>
				<td>@Html.DisplayFor(m=>dato.FechaCompra)</td>
				<td>@Html.DisplayFor(m=>dato.Nombre)</td>
				<td>
					<a asp-action="Edit" asp-route-id="@dato.CodigoEscritura">Edit</a> |
					<a asp-action="Details" asp-route-id="@dato.CodigoEscritura">Details</a> |
					<a asp-action="Delete" asp-route-id="@dato.CodigoEscritura">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>